body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    line-height: 180px;
    font-size: 125px;
    color: white;
}

.box{
    display: flex ;
    align-items: center;
    justify-content: center;
}

.box1, .box5{
    flex: 0.5;
    font-size: 0.25em;
    height: 2.8em;
    line-height: 2.8;
}
.box1{
    background-color: black; 
}

.box2, .box4{
    flex: 1;
    font-size: 0.5em;
    height: 2em;
    line-height: 2em;
}

.box2{
    background-color: yellow;
}

.box3{
    background-color: red; 
    flex: 2;
    font-size: 1em;
    height: 1.5em;
}

.box4{
    background-color: green;
}

.box5{
    background-color: blue;
}